Flask==2.0.2
flask-cors==3.0.10
pandas
joblib==1.1.0
numpy==1.26.4
gunicorn<=20.1.0
#python3-dev
#python3-pip
#python3-setuptools
#build-essential
#libssl-dev
#libffi-dev
#libxml2-dev
#libxslt1-dev
#zlib1g-dev
#libjpeg-dev
#libpng-dev
#libopenblas-dev
#liblapack-dev
#libatlas-base-dev
#gfortran